<h1>
  Add a new comment
</h1>

<hr>

<%= render("comment_templates/validation_failures.html.erb") %>

<form action="/save_new_info">
  <label for="caption_box">Comment</label>
  <textarea id="caption_box" name="restaurant_caption" placeholder="Tell us what you thought about the restaurant..."></textarea>

  <input type="hidden" name="user_id" value="<%= @comment.user_id %>">

  <div class="form-group">
    <label for="comment">
      Restaurant
    </label>

    <%= select_tag(:comment, options_from_collection_for_select(Restaurant.all, :id, :name, Restaurant.name), :class => "form-control", :required => true) %>
  </div> 

  <button>
    Create comment
  </button>
</form>

<hr>

<a href="/comments">
  Go back
</a>
