<h1>
  Add a new restaurant
</h1>

<hr>

<%= render("restaurant_templates/validation_failures.html.erb") %>

<form action="/insert_restaurant_record" method="post">
  <div>
    <label for="address">
      Address
    </label>

    <input type="text" id="address" name="address" value="<%= @restaurant.address %>">
  </div>

  <div>
    <label for="cuisine">
      Cuisine
    </label>

    <input type="text" id="cuisine" name="cuisine" value="<%= @restaurant.cuisine %>">
  </div>

  <button>
    Create restaurant
  </button>
</form>

<hr>

<a href="/restaurants">
  Go back
</a>
